<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="Tue, 22 Jan 2013 02:30:01 GMT" />
	<meta http-equiv="Refresh" content="900" />
	
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="{% block metaDescription %}{% endblock %}" />
	<meta name="keywords" content="{% block metaKeywords %}{% endblock %}" />
	<meta property="fb:admins" content="1048538409"/>
	<meta property="fb:app_id" content="166048096750307"/>
	<!-- PROPS-INSIGHT METATAG -->
	<meta name="adx:sections" content="Home" />

	<!-- END PROPS-INSIGHT METATAG -->
	<link rel="dns-prefetch" href="http://cdn.klimg.com/" />
	<link rel="alternate" type="application/atom+xml" title="KapanLagi.com Atom Feed" href="/feed/entertainment.xml" />
	<link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.kapanlagi.com/">
	<link rel="canonical" href="http://www.kapanlagi.com/">
	<link rel="icon" type="image/vnd.microsoft.icon" href="../public/image/favicon.ico" />	
	
	<!--CSS--><link rel="stylesheet" type="text/css" href="http://cdn.klimg.com/a.kapanlagi.com/v5/css/5m/home-v8/entertainment.css" /><!--ENDOFCSS-->
	<!--CSS--><link rel="stylesheet" type="text/css" href="../public/css/kino-desktop.css" /><!--ENDOFCSS-->
	<!--JS--><script type="text/javascript" src="http://cdn.klimg.com/a.kapanlagi.com/v5/js/5h/home-v8/entertainment.js"></script><!--ENDOFJS-->
	<script src="../public/js/jquery.3.1.1.min.js"></script>
	<script src="../public/js/lib/slick/slick.min.js"></script>
	<script src="../public/js/lib/masonry.min.js"></script>

	<!--TEMPASSETS--><!--ENDOFTEMPASSETS-->

	<!--GACODE-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-77158561-1', 'auto');
		ga('send', 'pageview');

		ga('create', 'UA-71410836-1', 'auto', 'KLNKL');
		ga('KLNKL.send', 'pageview');
	</script>
	<!--ENDOFGACODE-->

	<!-- ProPS Insight script -->
	<script type="text/javascript">
	var _siteId="579090314";
	(function(){
		var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//st-a.props.id/insight.js";
		var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script>
	<!-- End of ProPS Insight script -->

	<!--CRITEO CODE-->
		<script type="text/javascript">
				var crtg_nid = "3467";
				var crtg_cookiename = "crtg_rta";
				var crtg_varname = "crtg_content";
				function crtg_getCookie(c_name){ var i,x,y,ARRCookies=document.cookie.split(";");for(i=0;i<ARRCookies.length;i++){x=ARRCookies[i].substr(0,ARRCookies[i].indexOf("="));y=ARRCookies[i].substr(ARRCookies[i].indexOf("=")+1);x=x.replace(/^\s+|\s+$/g,"");if(x==c_name){return unescape(y);} }return"";}
				var crtg_content = crtg_getCookie(crtg_cookiename);
				var crtg_rnd=Math.floor(Math.random()*99999999999);
				(function(){
				var crtg_url=location.protocol+"//rtax.criteo.com/delivery/rta/rta.js?netId="+escape(crtg_nid);
				crtg_url +="&cookieName="+escape(crtg_cookiename);
				crtg_url +="&rnd="+crtg_rnd;
				crtg_url +="&varName=" + escape(crtg_varname);
				var crtg_script=document.createElement("script");crtg_script.type="text/javascript";crtg_script.src=crtg_url;crtg_script.async=true;
				if(document.getElementsByTagName("head").length>0)document.getElementsByTagName("head")[0].appendChild(crtg_script);
				else if(document.getElementsByTagName("body").length>0)document.getElementsByTagName("body")[0].appendChild(crtg_script);
				})();
		</script>
	<!--END CRITEO CODE-->

	<!--DFP CODE-->
		<script type='text/javascript'>
				(function() {
				var useSSL = 'https:' == document.location.protocol;
				var src = (useSSL ? 'https:' : 'http:') +
				'//www.googletagservices.com/tag/js/gpt.js';
				document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
				})();
		</script>
		<script type='text/javascript'>
				(function() {
				var src = 'http://a.kapanlagi.com/v5/js/0k/0/dfp.js';
				document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
				})();
		</script>
	<!--END DFP CODE-->

	<!-- Start Alexa Certify Javascript -->
		<script type="text/javascript">
			_atrk_opts = { atrk_acct:"+NMKm1aMp4Z35T", domain:"kapanlagi.com",dynamic: true};
			(function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "http://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
		</script>
		<noscript><img src="http://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=+NMKm1aMp4Z35T" style="display:none" height="1" width="1" alt="" /></noscript>
	<!-- End Alexa Certify Javascript -->

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','http://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1178703115477182', {
	em: 'insert_email_variable,'
	});
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="http://www.facebook.com/tr?id=1178703115477182&ev=PageView&noscript=1"
	/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->

	<script type="text/javascript" src="http://a.merdeka.com/internal-ads/1/index.js"></script>
</head>
<body>
<!--CHANNELMENUNEW-->
    <div class="kln-channelbar">
        <div class="list-channel-section">
            <ul class="list-channel clearfix">
                <li class="not-channel pull-left"><span class="middle-channel">KAPANLAGI NETWORK
                        <img src="http://cdn.klimg.com/kapanlagi.com/v5/i/channel/chennel_kanan.png" class="arrow-channel" />
                    </span></li><li class="active">
                    <a href="https://www.kapanlagi.com" class="middle-channel">KAPANLAGI</a></li><li>
                    <a href="https://www.merdeka.com/" class="middle-channel" target="_blank">MERDEKA</a></li><li>
                    <a href="https://www.bola.net/" class="middle-channel" target="_blank">BOLA.NET</a></li><li>
                    <a href="https://www.vemale.com/" class="middle-channel" target="_blank">VEMALE</a></li><li>
                    <a href="https://www.fimela.com/" class="middle-channel" target="_blank">FIMELA</a></li><li>
                    <a href="https://www.famous.id/" class="middle-channel" target="_blank">FAMOUS.ID</a></li><li>
                    <a href="https://www.dream.co.id/" class="middle-channel" target="_blank">DREAM.CO.ID</a></li><li>
                    <a href="https://www.pergi.com/" class="middle-channel" target="_blank">PERGI.COM</a></li><li class="not-channel pull-right">
                    <a href="#" class="click-more middle-channel" id="click-more">MORE
                        <img src="http://cdn.klimg.com/kapanlagi.com/v5/i/channel/channel_bawah.png" class="arrow-channel arrow-down" />
                        <img src="http://cdn.klimg.com/kapanlagi.com/v5/i/channel/channel_atas.png" class="arrow-channel arrow-up" />
                    </a></li>
            </ul>
            <div class="expand" id="expand" style="border-top: 1px solid rgb(222, 222, 222);">
                <ul class="list-channel list-channel-more clearfix" id="list-channel"  style="display: none;">
                    <li>
                        <a href="https://www.storibriti.com/" class="middle-channel" target="_blank">STORIBRITI</a></li><li>
                        <a href="http://www.otosia.com/" class="middle-channel" target="_blank">OTOSIA</a></li><li>
                        <a href="https://www.feed.id/" class="middle-channel" target="_blank">FEED.ID</a></li><li>
                        <a href="https://www.hemat.com/" class="middle-channel" target="_blank">HEMAT</a></li><li>
                        <a href="http://www.techno.id/" class="middle-channel" target="_blank">TECHNO.ID</a></li><li>
                        <a href="http://www.sooperboy.com/" class="middle-channel" target="_blank">SOOPERBOY</a></li><li>
                        <a href="http://www.muvila.com/" class="middle-channel" target="_blank">MUVILA</a></li><li>
                        <a href="https://family.fimela.com/" class="middle-channel" target="_blank">FIMELA FAMILY</a></li><li>
                        <a href="https://girl.fimela.com/" class="middle-channel" target="_blank">FIMELA GIRL</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--ENDOFCHANNELMENUNEW-->

<center>
	<div id="v5-container">

		<div class="header-all">

<!--DFP TOP FRAME CODE-->
<!--
<div id='div-gpt-ad-kapanlagi-topfrm-oop'>
	<script type='text/javascript'>
		//googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-topfrm-oop'); });
		/* kln_showAds(1); */
	</script>
</div>
-->
<!--END DFP TOP FRAME CODE-->

				<!--ANNOUNCEMENT-->
				<div id="v5-announcement">
<!--DFP BILLBOARD CODE-->
<!--
<div id='div-gpt-ad-kapanlagi-billboard-oop' style="text-align: center; display: inline-block;">
	<script type='text/javascript'>
		/* googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-billboard-oop'); }); */
		//kln_showAds(89);
	</script>
</div>
-->
<!--END DFP BILLBOARD CODE-->
</div>
				<!--ENDOFANNOUNCEMENT-->

						<div class="all-topmenu clearfix">
							<div class="all-account-info pull-left" id="all-account-info"></div>
								<!--TOPMENUNEW-->
								<ul id="v8-topmenu" class="list-topmenu pull-right">
										<li><a href="http://company.kapanlagi.com/advertisers/">Iklan</a></li>
										<li><a href="http://company.kapanlagi.com/contact/">Kontak</a></li>
										<li><a href="http://company.kapanlagi.com/tos/">Ketentuan Layanan</a></li>
										<li><a href="http://company.kapanlagi.com/privacy-policy/">Privacy</a></li>
										<li><a href="http://company.kapanlagi.com/kode-etik/">Kode Etik</a></li>
										<li><a href="http://company.kapanlagi.com/">Kami</a></li>
										<li><a href="http://company.kapanlagi.com/redaksi/">Redaksi</a></li>
										<li><a href="http://roadmap.kapanlagi.com/">Roadmap</a></li>
										<li><a href="/feed/">RSS</a></li>
										<li><a href="http://company.kapanlagi.com/career/">Karir</a></li>
									<li><a href="/sitemap.html">Sitemap</a></li>
								</ul>
								<!--ENDOFTOPMENUNEW-->
						</div>
						<div class="all-header clearfix">
								<!--LOGO-->
								<div class="all-logo pull-left">
									<a href="/"><img src="http://cdn.klimg.com/kapanlagi.com/v5/i/channel/entertainment/KLlogo.png" alt="KapanLagi.com" /></a>
								</div>
								<!--ENDOFLOGO-->
								<!--TECHBARNEW-->
								<div class="all-search-box pull-left clearfix">
										<form class="clearfix" action="http://search.kapanlagi.com/" name="searchbox" id="searchbox_015807142566320303553:k1dkqrp_-k8" onsubmit="getSearchNew(this.form);">
												<input type="hidden" name="cx" id="cx" />
												<input name="hl" value="id" type="hidden" />
												<input type="hidden" name="cof" value="FORID:11" />
												<div class="kl-selected-search pull-left">
													<a class="click-search" href="javascript:void(0);">
														<div class="dropdown-img"></div>
													</a>
												</div>
												<input type="text" class="text-search-kl"	name="q" />


												<div class="kl-btn-search pull-left">
													<input type="submit" value="" class="click-search click-btn-search" name="sa" />
												</div>
			<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_015807142566320303553%3Ak1dkqrp_-k8&amp;lang=en"></script>

										<ul class="checkbox-search-kl" style="display:none" id="selectq">
											<li>
													<input id="demo1" class="css-checkbox"	name="oo" value="1" type="radio" checked="checked" />
														<label for="demo1" name="radiobutton-kl" class="css-label">Kapanlagi</label>
												</li>
												<li>
													<input id="demo2" class="css-checkbox"	name="oo" value="2" type="radio" />
														<label for="demo2" name="radiobutton-kl" class="css-label">Lirik</label>
												</li>
												<li>
													<input id="demo3" class="css-checkbox"	name="oo" value="3" type="radio" />
														<label for="demo3" name="radiobutton-kl" class="css-label">NSP</label>
												</li>
												<li>
													<input id="demo4" class="css-checkbox"	name="oo" value="4" type="radio" />
														<label for="demo4" name="radiobutton-kl" class="css-label">Mobil Dijual</label>
												</li>
										</ul>
				</form>
								</div>
								<!--ENDOFTECHBARNEW-->
								<div class="all-social-bar pull-right">
									<h6>FOLLOW US:</h6>
										<ul class="list-social-bar clearfix">
											<li><a target="_blank" href="http://app.kapanlagi.com/account/" class="user"></a></li>
												<li><a target="_blank" href="http://www.facebook.com/kapanlagicom" class="fb"></a></li>
												<li><a target="_blank" href="http://www.twitter.com/kapanlagicom" class="twitter"></a></li>
												<li><a target="_blank" href="http://www.youtube.com/user/KapanLagicomVideo" class="youtube"></a></li>
												<li><a target="_blank" href="https://plus.google.com/u/0/108657380668933525627/posts" class="gplus"></a></li>
												<li><a target="_blank" href="http://instagram.com/kapanlagicom" class="instagram"></a></li>
												<li><a target="_blank" href="http://app.kapanlagi.com/newsletter/" class="mail"></a></li>
												<li><a target="_blank" href="http://app.kapanlagi.com/feed/" class="feed"></a></li>
										</ul>
								</div>
						</div>
						<!--LEADERBOARD-->
						<div id="v8-leaderboard" style="margin: 0px;text-align: center;width: 100%;">
<!--DFP LEADERBOARD CODE-->
<div id='div-gpt-ad-kapanlagi-lb-direct-oop' style="text-align: center; display: inline-block;">
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-lb-direct-oop'); });
	</script>
</div>
<div id='div-gpt-ad-kapanlagi-lb' style="text-align: center; display: inline-block;">
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-lb'); });
	</script>
</div>
<!--END DFP LEADERBOARD CODE-->
</div>
						<!--ENDOFLEADERBOARD-->

						<!--MENUBARNEW-->
						<div class="all-menu-navbar">
							<div class="navbar-menu-box" id="v8-menubar" style="height: 40px;">
										<ul class="list-navbar-kl clearfix"><li class="active"><a href="/" >HOME</a></li><li class=""><a href="/showbiz/selebriti/"  target="_top">ARTIS</a></li><li class=""><a href="/showbiz/hollywood/"  target="_top">HOLLYWOOD</a></li><li class=""><a href="/film/"  target="_top">FILM</a></li><li class=""><a href="http://musik.kapanlagi.com/"  target="_top">MUSIK</a></li><li class=""><a href="/showbiz/asian-star/"  target="_top">ASIAN STAR</a></li><li class=""><a href="/foto/"  target="_top">FOTO</a></li><li class=""><a href="/trending/"  target="_top">TRENDING</a></li><li class=""><a href="http://video.kapanlagi.com/"  target="_top">VIDEO</a></li><li class=""><a href="http://selebriti.kapanlagi.com/"  target="_top">PROFIL</a></li></ul>
								</div>


																												<!--JS--><script type="text/javascript">
																												var trendingReady=false;
																																		$.ajax({
																																		    url: "http://a.kapanlagi.com/channel/entertainment/tag/1/jQuery/trending.js",
																																		    dataType: "json",
																																		    success: function( response ) {
																																		        $(".all-menu-navbar").append(response.data);
																																						trendingReady=true;
																																		    },
																																				async:false
																																		});
																																</script><!--ENDOFJS-->
<!--DFP NEWSTAG1 CODE-->
<div id='div-gpt-ad-kapanlagi-newsTag1-oop'>
	<script type='text/javascript'>
		googletag.cmd.push(function(){ googletag.display('div-gpt-ad-kapanlagi-newsTag1-oop'); });
	</script>
</div>
<!--END DFP NEWSTAG1 CODE-->


<!--DFP NEWSTAG2 CODE-->
<div id='div-gpt-ad-kapanlagi-newsTag2-oop'>
	<script type='text/javascript'>
		googletag.cmd.push(function(){ googletag.display('div-gpt-ad-kapanlagi-newsTag2-oop'); });
	</script>
</div>
<!--END DFP NEWSTAG2 CODE-->

						</div>
						<!--ENDOFMENUBARNEW-->
			</div>


		<!--CONTENT-->
		{% block content %}{% endblock %}
		<!--END CONTENT-->
		
		<!--FOOTER-->
		<div id="v5-footer" class="v5-footer clearfix">
			<div class="copyright">
				&copy; 2003-2016 Kapanlagi.com - KLN KapanLagi Network - All Rights Reserved
			</div>

		</div>
		<!--ENDOFFOOTER-->
	</div>
</center>
<div class="v8-back-to-top" style="opacity: 0.3;"><div><a class="v8_event_to_top" href="#top"><img src="http://cdn.klimg.com/kapanlagi.com/v5/i/channel/entertainment/v7/go_to_top.png"></a></div></div>

<!--DFP BOTTOM FRAME CODE-->
<div id='div-gpt-ad-kapanlagi-bottomfrm-oop'>
	<script type='text/javascript'>
		//googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-bottomfrm-oop'); });
		kln_showAds(5);
	</script>
</div>
<!--END DFP BOTTOM FRAME CODE-->


<!--DFP POPUP CODE-->
<div id='div-gpt-ad-kapanlagi-popup-oop'>
	<script type='text/javascript'>
		kln_showAds(54);
	</script>
</div>
<!--END DFP POPUP CODE-->


<!--DFP SKINAD CODE-->
<div id='div-gpt-ad-kapanlagi-skinad-oop'>
	<script type='text/javascript'>
		//googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-skinad-oop'); });
		kln_showAds(95);
	</script>
</div>
<!--END DFP SKINAD CODE-->

<!--DFP LEFT EDGE FLOATING CODE-->
<div id='div-gpt-ad-kapanlagi-lFloating-oop'>
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-lFloating-oop'); });
	</script>
</div>
<!--END DFP LEFT EDGE FLOATING CODE-->

<!--DFP RIGHT EDGE FLOATING CODE-->
<div id='div-gpt-ad-kapanlagi-rFloating-oop'>
	<script type='text/javascript'>
		googletag.cmd.push(function() { googletag.display('div-gpt-ad-kapanlagi-rFloating-oop'); });
	</script>
</div>
<!--END DFP RIGHT EDGE FLOATING CODE-->
<!-- AudienceScience Async Data Collection Tag -->

<script>
(function() {
 var csid = "F09828";
 var bpid = "kapanlagi_id";
 var e = document.createElement("script");
 var s = document.getElementsByTagName("script")[0];
 e.src = "//js.revsci.net/gateway/gw.js?auto=t&csid=" + csid + "&bpid=" + bpid;
 e.async = true;
 s.parentNode.insertBefore(e, s);
})();
</script>
<!-- End AudienceScience Data Collection Tag -->


<!-- Begin comScore Tag -->
<script>var _comscore = _comscore || []; _comscore.push({ c1: "2", c2: "12418281" }); (function() { var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true; s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js"; el.parentNode.insertBefore(s, el); })();</script>
<noscript><img src="http://sb.scorecardresearch.com/p?c1=2&c2=12418281&cv=2.0&cj=1" /></noscript>
<!-- End comScore Tag -->

<script src="../public/js/kino.js"></script>
</body>
</html>